{% block footer %}
{% block stylesheets %}
    {% do assets.addCss('theme://css/chatbot.css') %}
    {{ assets.css() }}
{% endblock %}
<!-- <div class="chatbot-trigger" style="position: fixed; bottom: 60px; right: 60px; justify-content: right;">
    <img src="https://img.freepik.com/premium-vector/robot-icon-chat-bot-sign-support-service-concept-chatbot-character-flat-style_41737-795.jpg" alt="Chatbot" id="chatbot-trigger-btn" style="width: 20%; height: 30%;">
</div>
<section id="footer" class="section bg-gray">
    <!-- Chatbot image trigger -->
    <!-- Chatbot container -->
    <div id="chatbot-popup" style="display: none; position: fixed; bottom: 150px; right: 5px; background-color: white; width: 40%;">
        <!-- Chatbot container content -->
        <div class="container">
            <div class="row">
                <div class="col-9 offset-3">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="text-center">Chatbot</h3>
                            <p><strong>Welcome</strong></p>
                        </div>
                        <div class="card-body">
                            <div>
                                <div id="chat-container" class="overflow-auto"></div>
                                <!-- Typing indicator -->
                                <div class="typing-indicator" id="typing-indicator"></div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <form id="chat-form" class="input-group">
                                <input type="text" id="message-input" class="form-control" placeholder="Type your message..." aria-label="Type your message..." aria-describedby="send-button">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary" id="send-button">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Other content in the footer -->
    <section class="container {{ grid_size }}">
        <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart-o pulse "></i> by <a href="https://trilby.media">Trilby Media</a>.</p>
    </section>
</section>

{% block javascripts %}
    {% do assets.addJs('theme://js/chatbot.js') %}
    {{ assets.js() }}
{% endblock %}

{% endblock %}