{% extends 'partials/base.html.twig' %}

{% block content %}
    <h1>Contact Us Data</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.message }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}
